<div class="mypanel" ng-controller="JobsController"> 
  <ul>
    <div class="page-header">
      <h1>Job Details</h1>
    </div>
  </ul>
  <ul>
    <form class="form-vertical" ng-submit="update()" ng-init="findOne()"> 
      <div class="form-group">
        <tabset>


        </tabset>

	
            <label class="control-label" for="name">Name</label> 
            <div class="controls">
            	<input type="text" ng-model="job.name" id="name" class="form-control"/>
            </div> 
	
            <label class="control-label" for="start">Start Date</label> 
            <div class="controls">
            	<input type="text" ng-model="job.start" id="start" data-date-format="dd/mm/yyyy" bs-datepicker /> 
            </div> 
	
            <label class="control-label" for="end">End Date</label> 
            <div class="controls">
            	<input type="text" ng-model="job.end" id="end" data-date-format="dd/mm/yyyy" bs-datepicker /> 
            </div> 
	
            <label class="control-label" for="industry">Industry</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.industrySelect" ng-model="job.industry"/>
            </div> 
	
            <label class="control-label" for="category">Category</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.categorySelect" ng-model="job.category"/>
            </div> 
	
            <label class="control-label" for="employer">Employer</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.employerSelect" ng-model="job.employer"/>
            </div> 
	
            <label class="control-label" for="site">Site</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.siteSelect" ng-model="job.site"/>
            </div> 
	
            <label class="control-label" for="applicant">Successful Applicant</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.applicantSelect" ng-model="job.applicant"/>
            </div> 
	
      </div> 
      <div class="form-group"> 
        <div class="controls"> 
          <input type="submit" class="btn btn-primary"> 
        </div> 
      </div> 
    </form>
  </ul>
</div>

